DATABASE_URL=
JWT_SECRET=
PORT=3000
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
NODE_ENV=development

# Sentry
SENTRY_DSN=
SENTRY_ENVIRONMENT=development

# Redis
REDIS_URL=redis://localhost:6379

# WebSocket Server
SOCKET_PORT=3001
FRONTEND_URL=http://localhost:5173
